<!DOCTYPE html>
<html>
<head>
  <title>Omnisand</title>
  <%= stylesheet_link_tag    "omnisand/application", media: "all" %>
  <%= javascript_include_tag "omnisand/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
